ConsoleApp/Connected Services/ServiceReference1/Servicewcf1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="C_user">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUser" type="xs:int" />
      <xs:element minOccurs="0" name="passwordUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pseudoUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="C_user" nillable="true" type="tns:C_user" />
  <xs:complexType name="ArrayOfC_user">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="C_user" nillable="true" type="tns:C_user" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfC_user" nillable="true" type="tns:ArrayOfC_user" />
</xs:schema>